# Dependencies
/node_modules

# Environment variables
.env

# Logs
logs
*.log

# Output of npm commands
npm-debug.log*

# Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
